@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	/* transition: background-color 10s, color 10s ease-in-out; */
	color: var(--foreground);
	background: var(--background);
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: 'Roboto-condensed', sans-serif;
}
a {
	color: white;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.merriweather-light {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-style: normal;
}

.merriweather-regular {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-style: normal;
}

.merriweather-bold {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-style: normal;
}

.merriweather-black {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-style: normal;
}

.merriweather-light-italic {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-style: italic;
}

.merriweather-regular-italic {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-style: italic;
}

.merriweather-bold-italic {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-style: italic;
}

.merriweather-black-italic {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-style: italic;
}

.roboto-condensed-400 {
	font-family: 'Roboto Condensed', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.roboto-condensed-500 {
	font-family: 'Roboto Condensed', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.nunito {
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	/* font-weight: 400; */
	font-style: normal;
}
